<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>NYSee Now</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- FOR MAP -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header class="head">
        <div class="page-head">
            <span class="head-logo">NYSee Now</span>
        </div>
        <nav>
            <a href="/" class="head-entry">Home</a>
            <a href="/events/search" class="head-entry">Search Events</a>
            {{#if user}}
            <a href="/calendar" class="head-entry">View Calendar</a>
            {{/if}}
        </nav>
        <div class="auth-head">
            {{#if user}}
            <span class="head-entry">User: {{user.username}}</span>
            <a href="/users/logout" class="head-entry">Logout</a>
            {{else}}
            <a href="/users/login" class="head-entry">Login</a>
            <a href="/users/register" class="head-entry">Register</a>
            {{/if}}
        </div>
      
    {{!-- 
    <header>
    <nav>
        {{#if user}}
            <span>User:</span>
            <span class="nav-username">
                <a href="/users/{{user._id}}/profile">{{user.username}}</a>
            </span>
        {{/if}}
        <a href="/">Home</a>
        <a href="/events/search">Search Events</a>
        {{#if user}}
            <a href="/calendar">View Calendar</a>
            <a href="/users/logout">Logout</a>
        {{else}}
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        {{/if}}
    </nav>
    <hr>
    --}}
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/client.js"></script>
</body>
</html>
