<h1>NYSee Now</h1>

<div id="map"></div>

{{#if session.user}}
<h2>Hello {{session.user.username}}!</h2>

<h3>Events you may like:</h3>

<div>
    <a href="/calendar">View Calendar</a>
    <a href="/">Create New Event</a>
    <a href="/">Find Your Next Event</a>
    
</div>

{{/if}}


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  const events = {{{json events}}}
</script>
<script src="/public/js/map.js"></script>

{{#if user}}
  <h2>Events you may like:</h2>

  {{#if recommendedEvents.length}}
    <ul>
      {{#each recommendedEvents}}
        <li>
          <a href="/events/{{this._id}}">{{this.eventName}}</a>
          — {{this.eventBorough}} — {{this.eventType}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No recommendations yet. Save more events!</p>
  {{/if}}
{{else}}
  <p>Login to get personalized recommendations!</p>
{{/if}}

