<h1>Search Events</h1>

<form method="GET" action="/events/search">

  <h3>Type</h3>
  {{#each eventTypes}}
    <label>
      <input 
        type="checkbox"
        name="eventType"
        value="{{this}}"
        {{#if (contains (toArray ../eventType) this)}}checked{{/if}}
      >
      {{this}}
    </label>
  {{/each}}

  <h3>Borough</h3>
  {{#each boroughs}}
    <label>
      <input 
        type="checkbox"
        name="borough"
        value="{{this}}"
        {{#if (contains (toArray ../borough) this)}}checked{{/if}}
      >
      {{this}}
    </label>
  {{/each}}

  <h3>Start Date Range</h3>
  Start: <input type="date" name="startDate" value="{{startDate}}">
  End: <input type="date" name="endDate" value="{{endDate}}">
  <br><br>
  
  <input 
    type="text" 
    name="keyword" 
    placeholder="Search by event name"
    value="{{keyword}}"
  />

  <br><br>
  <button type="submit">Search</button>
</form>

{{#if error}}
  <p class="error" style="color:red;">{{error}}</p>
{{/if}}
<br>
<hr>

{{#if totalPages}}
  <div class="pagination">
    {{#if (gt currentPage 1)}}
      <a href="/events/search?{{queryString page=(subtract currentPage 1) keyword=keyword eventType=eventType borough=borough startDate=startDate endDate=endDate}}">Previous</a>
    {{/if}}

    <span>Page {{currentPage}} of {{totalPages}}</span>

    {{#if (lt currentPage totalPages)}}
      <a href="/events/search?{{queryString page=(add currentPage 1) keyword=keyword eventType=eventType borough=borough startDate=startDate endDate=endDate}}">Next</a>
    {{/if}}
  </div>
  <hr>
{{/if}}

<div class="search-map-container">
  <div class="search-left">
    {{#if results.length}}
      <ul>
        {{#each results}}
          <li>
            <a href="/events/{{this._id}}?returnTo={{../currentUrl}}">
              {{this.eventName}}
            </a>
            — {{this.eventBorough}}
            — {{this.eventType}}
            <div id="save-count-{{this._id}}">
              {{this.userCount}} user(s) saved this
            </div>
            {{#if this.saved}}
              <button id="save-btn-{{this._id}}"
                onclick="updateSaveStatus('{{this._id}}', true)">
              Unsave
              </button>
            {{else}}
              <button id="save-btn-{{this._id}}"
                onclick="updateSaveStatus('{{this._id}}', false)">
              Save
            </button>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No events found.</p>
    {{/if}}
  </div>
  <div class="search-right">
    {{#if session.user}}
    <h2>Map of Nearest Events in Home Borough</h2>
    <div id="map"></div>
    {{/if}}
  </div>
</div>

{{#if totalPages}}
  <hr>
  <div class="pagination">
    {{#if (gt currentPage 1)}}
      <a href="/events/search?{{queryString page=(subtract currentPage 1) keyword=keyword eventType=eventType borough=borough startDate=startDate endDate=endDate}}">Previous</a>
    {{/if}}

    <span>Page {{currentPage}} of {{totalPages}}</span>

    {{#if (lt currentPage totalPages)}}
      <a href="/events/search?{{queryString page=(add currentPage 1) keyword=keyword eventType=eventType borough=borough startDate=startDate endDate=endDate}}">Next</a>
    {{/if}}
  </div>
{{/if}}

<script>
  const returnTo = "{{currentUrl}}";
</script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/geolib@3.3.4/lib/index.min.js"></script>

<script>
  const eventLocation = {{{json eventLocation}}};
</script>
<script src="/public/js/closestEventMap.js"></script>
<script src="/public/js/search.js"></script>
<script src="/public/js/searchValidation.js"></script>