<h1>Search Events</h1>

<form method="GET" action="/events/search">

  <h3>Type</h3>
  {{#each eventTypes}}
    <label>
      <input 
        type="checkbox"
        name="eventType"
        value="{{this}}"
        {{#if (contains (toArray ../eventType) this)}}checked{{/if}}
      >
      {{this}}
    </label>
  {{/each}}

  <h3>Borough</h3>
  {{#each boroughs}}
    <label>
      <input 
        type="checkbox"
        name="borough"
        value="{{this}}"
        {{#if (contains (toArray ../borough) this)}}checked{{/if}}
      >
      {{this}}
    </label>
  {{/each}}

  <h3>Start Date Range</h3>
  Start: <input type="date" name="startDate" value="{{startDate}}">
  End: <input type="date" name="endDate" value="{{endDate}}">
  <br><br>
  
  <input 
    type="text" 
    name="keyword" 
    placeholder="Search by event name"
    value="{{keyword}}"
  />

  <br><br>
  <button type="submit">Search</button>
</form>

{{#if error}}
  <p class="error" style="color:red;">{{error}}</p>
{{/if}}
<br>
<hr>

{{#if totalPages}}
  <div class="pagination">
    {{#if (gt currentPage 1)}}
      <a href="/events/search?page={{subtract currentPage 1}}
        {{#each (toArray keyword)}}&keyword={{this}}{{/each}}
        {{#each (toArray eventType)}}&eventType={{this}}{{/each}}
        {{#each (toArray borough)}}&borough={{this}}{{/each}}
        {{#if startDate}}&startDate={{startDate}}{{/if}}
        {{#if endDate}}&endDate={{endDate}}{{/if}}
      ">Previous</a>
    {{/if}}

    <span>Page {{currentPage}} of {{totalPages}}</span>

    {{#if (lt currentPage totalPages)}}
      <a href="/events/search?page={{add currentPage 1}}
        {{#each (toArray keyword)}}&keyword={{this}}{{/each}}
        {{#each (toArray eventType)}}&eventType={{this}}{{/each}}
        {{#each (toArray borough)}}&borough={{this}}{{/each}}
        {{#if startDate}}&startDate={{startDate}}{{/if}}
        {{#if endDate}}&endDate={{endDate}}{{/if}}
      ">Next</a>
    {{/if}}
  </div>
  <hr>
{{/if}}

{{#if results.length}}
  <ul>
    {{#each results}}
      <li>
        <a href="/events/{{this._id}}?returnTo={{../currentUrl}}">
          {{this.eventName}}
        </a>
        — {{this.eventBorough}}

        <div id="save-count-{{this._id}}">
          {{this.userCount}} user(s) saved this
        </div>

        {{#if this.saved}}
          <button id="save-btn-{{this._id}}"
                  onclick="updateSaveStatus('{{this._id}}', true)">
            Unsave
          </button>
        {{else}}
          <button id="save-btn-{{this._id}}"
                  onclick="updateSaveStatus('{{this._id}}', false)">
            Save
          </button>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No events found.</p>
{{/if}}

{{#if totalPages}}
  <hr>
  <div class="pagination">
    {{#if (gt currentPage 1)}}
      <a href="/events/search?page={{subtract currentPage 1}}
        {{#each (toArray keyword)}}&keyword={{this}}{{/each}}
        {{#each (toArray eventType)}}&eventType={{this}}{{/each}}
        {{#each (toArray borough)}}&borough={{this}}{{/each}}
        {{#if startDate}}&startDate={{startDate}}{{/if}}
        {{#if endDate}}&endDate={{endDate}}{{/if}}
      ">Previous</a>
    {{/if}}

    <span>Page {{currentPage}} of {{totalPages}}</span>

    {{#if (lt currentPage totalPages)}}
      <a href="/events/search?page={{add currentPage 1}}
        {{#each (toArray keyword)}}&keyword={{this}}{{/each}}
        {{#each (toArray eventType)}}&eventType={{this}}{{/each}}
        {{#each (toArray borough)}}&borough={{this}}{{/each}}
        {{#if startDate}}&startDate={{startDate}}{{/if}}
        {{#if endDate}}&endDate={{endDate}}{{/if}}
      ">Next</a>
    {{/if}}
  </div>
{{/if}}

<script>
  const returnTo = "{{currentUrl}}";
</script>

<script src="/public/js/search.js"></script>