
<div class="content-wrapper-center" style="justify-content: left">
  <h1 id="profile-head">{{user.username}}'s Profile</h1>
</div>

<div class="flex-container">
  <div class="left-side">
    <div>
      <h2>User Information</h2>
      <p><strong>Full Name:</strong> {{user.firstName}} {{user.lastName}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p><strong>Home Borough:</strong> {{user.homeBorough}}</p>
      <p><strong>Favorite Event Types:</strong>
        {{#each user.favoriteEventTypes}}
          {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </p>
    </div>
  
    <div>
      <h2>Comments Posted:</h2>
      {{#if comments.length}}
        <ul>
          {{#each comments}}
            <li>"{{this.text}}" — on <a href="/events/{{this.eventId}}">{{this.eventName}}</a></li>
          {{/each}}
        </ul>
      {{else}}
        <p>No comments yet.</p>
      {{/if}}
    </div>
    <div>
      <h2>Created Events</h2>
      <p><strong>Public</strong></p>
      {{#if publicEvents.length}}
        <ul>
          {{#each publicEvents}}
            <li>
              <a href="/events/{{this._id}}">{{this.eventName}}</a>
              - {{this.eventBorough}} - {{this.eventType}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No events yet.
          {{#if isUser}}
            <a href="/events/create"> Create one!</a>
          {{/if}}
        </p>
      {{/if }}
      {{#if isUser}}
        <p><strong>Personal</strong></p>
        {{#if personalEvents.length}} 
          <ul>
            {{#each personalEvents}}
              <li>
                <a href="/events/{{this._id}}">{{this.eventName}}</a>
                - {{this.eventBorough}} - {{this.eventType}}
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>No events yet. <a href="/events/create">Create one!</a></p>
        {{/if}}
      {{/if}}
    </div>
  </div>
  
  <div class="right-side">
    {{#if isUser}}
    <div>
      <h2>Saved Events</h2>
      {{#if savedEvents.length}}
        <ul>
          {{#each savedEvents}}
            <li>
              <a href="/events/{{this._id}}">{{this.eventName}}</a>
              — {{this.eventBorough}} — {{this.eventType}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No saved events yet.</p>
      {{/if}}
    </div>
  
    <div>
      <h2>Recommended Events:</h2>
      {{#if recommendedEvents.length}}
          <ul>
          {{#each recommendedEvents}}
              <li>
              <a href="/events/{{this._id}}">{{this.eventName}}</a>
              — {{this.eventBorough}} — {{this.eventType}}
              </li>
          {{/each}}
              </ul>
          {{else}}
              <p>No recommendations yet. Save more events!</p>
      {{/if}}
    </div>
    {{/if}}
  </div>
</div>
